In [11]:
import sqlite3
import pandas as pd
import os
import glob
import re

In [2]:
csv_dir = "mobi_csv"
table_name = "rides"

In [25]:
def standardize_column_string(name: str) -> str:
    # Remove any text within parentheses
    temp = re.sub(r'\([^()]*\)', '', name)
    temp = temp.strip().lower().replace(' ', '_')
    return temp

def standardize_column_names(df: pd.DataFrame) -> pd.DataFrame:
    standardized_columns = [standardize_column_string(col) for col in df.columns]
    df.columns = standardized_columns
    return df

In [33]:
sample_csv = "mobi_csv/September_2025.csv"
sample_df = pd.read_csv(sample_csv, nrows=5)
sample_df = standardize_column_names(sample_df)
standardized_columns = sample_df.columns.tolist()
# standardized_columns
# ['departure',
#  'return',
#  'bike',
#  'electric_bike',
#  'departure_station',
#  'return_station',
#  'membership_type',
#  'covered_distance',
#  'duration',
#  'departure_temperature',
#  'return_temperature',
#  'stopover_duration',
#  'number_of_stopovers']

In [ ]:
standardized_columns_datatypes = [
    'DATETIME',    # departure
    'DATETIME',    # return
    'INTEGER',    # bike
    'BOOLEAN',    # electric_bike
    'TEXT',    # departure_station
    'TEXT',    # return_station
    'TEXT',    # membership_type
    'INTEGER',    # covered_distance
    'INTEGER', # duration
    'INTEGER',    # departure_temperature
    'INTEGER',    # return_temperature
    'INTEGER', # stopover_duration
    'INTEGER'  # number_of_stopovers
]
standardized_columns_dict = dict(zip(standardized_columns, standardized_columns_datatypes))

In [29]:
conn = sqlite3.connect("mobi.db")

In [4]:
csv_files = glob.glob(os.path.join(csv_dir, "*.csv"))

In [ ]:
print(f"Found {len(csv_files)} CSV files in directory '{csv_dir}':")

Found 92 CSV files in directory 'mobi_csv':

In [11]:
for file in csv_files:
    print(f"Importing file: {file}")
    df = pd.read_csv(file)
    df.to_sql(table_name, conn, if_exists='append', index=False)

Importing file: mobi_csv/May_2022.csv
Importing file: mobi_csv/July_2019.csv

OperationalError: table rides has no column named Bike